@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  --background: #f1f5f9;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contact__social_qrcode::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 10px;
  height: 30px;
  background: url("data:image/svg+xml,%20%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='210'%20height='200'%20viewBox='0%200%20210%20200'%3E%20%3Cpath%20id='联合_25'%20data-name='联合%2025'%20d='M-6123.714-1439.715a6,6,0,0,1-6-6v-87.2l-8.981-5.056a2,2,0,0,1,0-3.484l8.981-5.056v-87.2a6,6,0,0,1,6-6h188a6,6,0,0,1,6,6v188a6,6,0,0,1-6,6Z'%20transform='translate(6139.715%201639.715)'/%3E%20%3C/svg%3E%20")
    no-repeat left center;
  transform: translateX(-50%) rotate(-90deg);
}

/* 图标翻转 */
.scale-y-[-1] {
  transform: scaleY(-1);
}
